{% extends "base.html" %}

{% block title %}Broken Access Control - {{ mode.title() }}{% endblock %}

{% block back %}
  <a href="/mode/{{ mode }}" class="back-arrow">←</a>
{% endblock %}

{% block content %}

<div class="page-wrapper">
  <div class="login-container">
    <h2>🚫 A01 - Broken Access Control <span class="mode-tag">({{ mode.title() }})</span></h2>
    <form method="post">
      <label for="username">👤 Username</label>
      <input type="text" name="username" id="username" placeholder="Enter your username">
      <button type="submit">🔐 Login </button>
    </form>

    {% if message %}
      <div class="message">{{ message }}</div>
    {% endif %}
  </div>

  <div class="info-box">
    <div class="toggle-item">
      <button type="button" class="toggle-btn" onclick="toggleVisibility('hint-text')">Hint</button>
      <p id="hint-text" class="toggle-text">
        <br>Secure Mode:<br> Username : admin</br>
        <br>Insecure Mode:
        <br>Try any username of your choice
      </p>
    </div>
    <div class="toggle-item">
      <button type="button" class="toggle-btn" onclick="toggleVisibility('description-text')">Description</button>
      <p id="description-text" class="toggle-text">
        <br>Only admin has access in the secure version. Whereas in the insecure version anyone can get access. Hence, the Access control is broken.</br>
        
        <br>Broken Access Control allows unauthorized users to access restricted functionality or data.
        Attackers can exploit this to escalate privileges or access sensitive information.</br>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function toggleVisibility(id) {
    const el = document.getElementById(id);
    if (el.style.display === 'block') {
      el.style.display = 'none';
    } else {
      el.style.display = 'block';
    }
  }
</script>
{% endblock %}
