{% extends "base.html" %}

{% block title %}Insecure Design - {{ mode.title() }}{% endblock %}

{% block back %}
  <a href="/mode/{{ mode }}" class="back-arrow">←</a>
{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div class="login-container">
    <h2>⚠️ A04 - Insecure Design <span class="mode-tag">({{ mode.title() }})</span></h2>
    <form method="POST">
      <label>Username:</label>
      <input type="text" name="username" placeholder="Enter username">
      
      {% if mode == "secure" %}
          <input type="text" name="confirm" placeholder="Type `I CONFIRM TO DELETE ACCOUNT`">
      {% endif %}
      
      <button type="submit">🗑️ Delete Account</button>
    </form>

    {% if message %}
      <div class="message">{{ message }}</div>
    {% endif %}

  </div>

  <div class="info-box">
    <div class="toggle-item">
      <button type="button" class="toggle-btn" onclick="toggleVisibility('hint-text')">Hint</button>
      <p id="hint-text" class="toggle-text">
        <br>Secure Mode:<br>Username: user123</br>
        <br>Insecure Mode:<br>Any username of your choice</br>
      </p>
    </div>

    <div class="toggle-item">
      <button type="button" class="toggle-btn" onclick="toggleVisibility('description-text')">Description</button>
      <p id="description-text" class="toggle-text">
        Insecure Design occurs when security measures are missing from the application design itself. 
        In this case, a simple UI design to confirm account deletion can avoid unintentional deletion of accounts.
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function toggleVisibility(id) {
    const el = document.getElementById(id);
    el.style.display = el.style.display === 'block' ? 'none' : 'block';
  }
</script>
{% endblock %}
