<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Vulnerable Components - {{ mode.title() }}</title>
  {% if mode == "insecure" %}
  <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
  {% else %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% endif %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
{% block back %}
  <a href="/mode/{{ mode }}" class="back-arrow">←</a>
{% endblock %}
<body>

  <div class="page-wrapper">
    <div class="login-container">
      <h2>🔧 A06 - Vulnerable & Outdated Components <span class="mode-tag">({{ mode.title() }})</span></h2>
      <p>Enter your name :</p>
      <form id="nameForm">
        <input type="text" id="name" placeholder="Your name" autocomplete="off" required />
        <button type="submit">Submit</button>
      </form>
      <div id="result" class="result-box"></div>
      
    </div>

  <div class="info-box">
      <button type="button" class="btn-static">Hint</button>
      <p id="hint-text" class="display-text">
        Try ` &lt;script&gt;alert("XXS")&lt;/script&gt; `
      </p>

      <button type="button" class="btn-static">Description</button>
      <p id="description-text" class="display-text">
        This demo highlights the risks of using outdated or vulnerable components. The insecure version includes an old jQuery library (v1.7.2) that is known to have XSS vulnerabilities that allows scripts to execute through input fields.
      </p>
  </div>

  </div>
 
  <script>
    var appMode = "{{ mode }}";

    if (appMode === "insecure") {
      $(document).ready(function () {
        $("#nameForm").submit(function (e) {
          e.preventDefault();
          var name = $("#name").val();
          // Insecure: vulnerable to XSS
          $("#result").html("Hello, " + name);
        });
      });
    } else {
      $(document).ready(function () {
        $("#nameForm").submit(function (e) {
          e.preventDefault();
          const name = $("#name").val();
          // Secure: prevents XSS
          $("#result").text("Hello, " + name);
        });
      });
    }
  </script>

</body>
</html>
